body {
    background-color: black;
}

nav {
    width: 100vw;
}
.navbar {
    background-color: white;
    padding: 0rem 1rem
}
.navbar-brand {
    padding-bottom: 0rem;
}

.nav-link {
    color: black;
    font-family: "Montserrat-Regular";
}

.nav-link:hover {
    font-family: "Montserrat-SemiBold";
}

.logo-text {
    font-family: "BebasNeue-Regular";
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}
.title {
    font-family: "BebasNeue-Regular";
    font-size: 225px;
    line-height: 270px;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 350px;
}

.title-img {
    position: absolute;
    z-index: 10;
    width: 374px;
    height: 538px;
    top: 78px;
    left: 61%;
}

.arrow {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-size: 100px;
    color: #FFFFFF;
}

.info-section {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.info-title {
    display: flex;
    flex-direction: row;
}

h2 {
    font-family: "BebasNeue-Regular";
    font-size: 64px;
    color: #FFFFFF;
}

.line {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #FFFFFF;
    width: 20vw;
    height: 0px;
}

.info-section img {
    width: 572px;
    height: 572px;
    padding: 20px;
}

.info-section p {
    overflow: scroll;
    font-family: 'Montserrat-SemiBold';
    font-size: 24px;
    color: #FFFFFF;
}

.wanted-title {
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    font-family: "BebasNeue-Regular";
    font-size: 96px;
    color: #FFFFFF;
}

/* Adapted From: https://codingyaar.com/bootstrap-4-carousel-multiple-items-responsive/#carouselExampleControls */

.cards-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
  }
  .card img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    background-color: #000000;
    margin: 0 0.5em;
    border: none;
    border-radius: 5px;
  }
  .card-title {
    font-family: "BebasNeue-Regular";
    font-size: 48px;
    color: #FFFFFF;
  }
  .card-text {
    font-family: 'Montserrat-SemiBold';
    font-size: 24px;
    color: #FFFFFF;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color:#e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 200px;
    margin-right: 200px;
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }

.alert {
    text-align: center;
}

@font-face {
    font-family: "BebasNeue-Regular";
    src:url('BebasNeue-Regular.ttf')
}
@font-face {
    font-family: "Montserrat-Regular";
    src:url('Montserrat-Regular.ttf')
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src:url('Montserrat-SemiBold.ttf')
}