.card-title {
    font-family: "BebasNeue-Regular";
    color: white;
    font-size: 40px;
}

.card {
    background-color: black;
}

.card-title {
    text-align: center;
}

.card-text {
    font-family: "Montserrat-Regular";
    color: white;
    font-size: 15px;
    text-align: center;
}

