body {
    background-color: black;
}
.container {
    background-color: black;
}
.description {
    font-size: 20px;
    text-align: center;
}
.text {
    text-align: center;
    color: white;
    font-weight: 400;
    line-height: 58px;
}
.card-color {
    background-color: black;
}
.paragraph {
    font-family: "Montserrat-Regular";
    font-size: 24px;
}
.titles {
    font-family: "BebasNeue-Regular";
    font-size: 64px;
}
.margin {
    margin-bottom: 100px;
}
.title-image-margin {
    margin-bottom: 100px;
    margin-left: 100px;
}