body {
    background-color: black;
}

nav {
    width: 100vw;
}
.navbar {
    background-color: white;
    padding: 0rem 1rem
}
.navbar-brand {
    padding-bottom: 0rem;
}

.nav-link {
    color: black;
    font-family: "Montserrat-Regular";
}

.nav-link:hover {
    font-family: "Montserrat-SemiBold";
}

.logo-text {
    font-family: "BebasNeue-Regular";
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

@font-face {
    font-family: "BebasNeue-Regular";
    src:url('BebasNeue-Regular.ttf')
}
@font-face {
    font-family: "Montserrat-Regular";
    src:url('Montserrat-Regular.ttf')
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src:url('Montserrat-SemiBold.ttf')
}

.logo {
    padding: 50px;
    width: 100%;
}



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
  }
  
 
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 12px;
  }
  
  .column img {
    margin-top: 100px;
    vertical-align: middle;
    width: 100%;
  }

  .imgtitle {
    text-align: center;
    font-family: "BebasNeue-Regular";
    color: white;
    font-size: 40px;
    border: 2px solid white;
}